.what-to-cook-table {
    border-collapse: collapse;
}

.what-to-cook-table th, td {
    border: 1px solid #a9a9a9;
    border-spacing: 1;
    padding: 1;
}

.what-to-cook-table div {
    text-align: center;
}

div.myc-customer-wrap {
    text-align: center;
    width: 100%;
}

div.myc-customer {
    display: inline-block;
    font-weight: bold;
    margin: 0 auto;
    width: 50%;
}

/* .what-to-cook-table tr:nth-of-type(even) { */
/*     background-color: #ffccff; */
/* } */
